.feature-item {
  position: relative;
  padding-bottom: 3.75rem;

  @mixin atSmall {
    padding-left: 94px;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    @mixin atSmall {
      left: 0;
      position: absolute;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: .8rem;
    margin-top: .7em;
    text-align: center;

    @mixin atSmall {
      text-align: left;
      margin-top: 1em;
      font-size: 1.875rem;
    }
  }

}
